body{
    display: flex;
    flex-direction: column;
    background-color: rgb(247,234, 134);
}

#calculator-screen{

    border: 2px solid grey;
    width: 200px;
    height: 19px;
}

#calculator-buttons{
    display: grid;
	grid-template-columns: 50px 50px 50px 50px;
	margin: 1px;
}

